/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    height: 2000px;
} */
.imgGif{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100px;
}
body{
    background-color: black;
}
html{
    cursor: none;
}